#gameFrame{
    background-color: black;
    height: 600px; width: 800px;
    margin: auto; position: relative;
    overflow: hidden;
}

.enemy{
    width: 150px; height: 400px;
    position: absolute; bottom: -400px;
    background-color: beige;
    transition: all .5s;
}

#enemy1{ left: 5px; }
#enemy2{ left: 165px; }
#enemy3{ left: 325px; }
#enemy4{ left: 485px; }
#enemy5{ left: 645px; }

.enemy.dead{
    background-color: gray;
    height: 50px;
}

.enemy.showing{
    bottom: 0px;
}

.enemy.shooting{
    background-color: red;
}

#healthBar{
    position: absolute; top: 0; left: 0;
    background-color: coral;
    height: 20px; width: 100%;
    transition: width .5s;
}